.cards-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	width: 240px;
	height: 320px;
	background: rgba(102, 102, 102, 0.692);
	margin: 10px;
	border: 2px solid black;
}

h3 {
	font-size: 1.6rem;
	padding: 5px 10px;
	font-family: 'Staatliches', cursive;
	border-bottom: 1px solid black;
	text-shadow: 2px 1px lightgray;
}

p {
	margin: 10px 0;
	padding: 0 10%;
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2rem;
}

span {
	font-size: 1.4rem;
	color: rgb(34, 33, 33);
}
